/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #4c597d;
  --ifm-color-primary-dark: #4c597d; 
  --ifm-color-primary-darker: #4c597d;
  --ifm-color-primary-darkest: #313749;
  --ifm-color-primary-light: #818faf;
  --ifm-color-primary-lighter: #adb6cc;
  --ifm-color-primary-lightest: #ebedf3;

  --ifm-link-color: #818faf;
}
